.secureInput {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
}

.secureInput > .MuiSvgIcon-root {
  color: rgba(0, 0, 0, 0.7);
  margin-left: 5px;
  border-radius: 50%;
  font-size: 30px;
  padding: 5px;
  align-self: flex-end;
  transition: all 0.5s;
  cursor: pointer;
}

.secureInput > .MuiSvgIcon-root:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.secureInput > .MuiSvgIcon-root:active {
  background-color: rgba(0, 0, 0, 0.4);
}
